
.CrystalCollector {
    height: 200px;
    width: 400px;
    margin: 1rem;
    background: orange;
    
}
body{
    background-color: bisque; 
}

.content {
    width: 600px;
    height: 500px;
    background-color: khaki;
    margin: 1rem;
    font-size: 200%;
}

.winsAndLosses{
    float: left;
    display: block;
    width: 200px;
    height: 200px;
    margin: 1rem;
    background-color: aqua;
}

.numberToMatch {
    float: left;
    display: block;
    width: 250px;
    height: 200px;
    margin: 1rem;
    background-color:greenyellow;
}



.userTotal{
    float: left;


}

.gemImage {
    width: 200px;
    height: 265px;
}

h1 {
    text-align: center;
}

.content{

    text-align: center;
}